@import "details.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

body {
    background-color: rgb(245, 245, 245);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.75rem;
}

#purchase {
    margin: 1rem 0 2rem 10rem;
    padding: 0.5rem;
    background-color: rgb(111, 72, 227);
    color: rgb(230, 220, 255);
    font-size: 1rem;
}

.header {
    display: flex;
    margin-left: 10em;
}

.logo {
    max-height: 4rem;
}

.title {
    text-align: center;
    margin: 1rem 0 3rem 2rem;
}

#choices {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.choice {
    width: 15%;
    padding: 2em 1.5em;
    border: 1px dashed dodgerblue;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1;
    line-height: 2em;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.customerOrders {
    margin-left: 12em;
    line-height: 2em;
}

